#H1{
    background-color:black;
}

#H{
    background-color:black;
}



#Logo{
    text-align:left;
    box-shadow: 0px 30px 50px #000000;
    width:340px;
    
}



#marvel{
    width:200px;
    box-shadow: 0px 30px 50px #000000;
    text-align:right;
    
}

.show{
    width:100px;
}


#marvel-1{
    width:200px;
     border-radius:5px;
    text-align:center;
}

#marvel-2{
    width:200px;
    border-radius:5px;
}

.marvel-universe{
    color:white;
    font-family:Trade Gothic;
    text-align:center;
}

.avg{
    width:200px;
    
}

.avg{
    width:200px;
    border-radius:1px;
}



#Main{
    box-shadow: 0px 20px 90px #888888;
}

body{
    background-image:url("http://assets2.ignimgs.com/2013/11/13/marvel-logo-1280jpg-8851ea_1280w.jpg");
 background-repeat:no-repeat;
 background-size:1400px;
 border:solid;
}
#red{
    color:yellow;
    text-align:right;
}
#avengers{
    color:blue;
    text-align:right;
}
#aveng{
    color:green;
    text-align:right;
}
#marvel-4{
    color:purple;
    text-align:right;
}
.marvel-6{
    color:pink;
    text-align:right;
}