/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
 background-color:#350000;}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #840000;
    color: black;
    transform:translatey(5px);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #840000;
    color: white;
}


#H1{
    background-color:black;
}

#H{
    background-color:black;
}



#Logo{
    text-align:left;
    box-shadow: 0px 30px 50px #000000;
    width:340px;
    
}



#marvel{
    width:200px;
    box-shadow: 0px 30px 50px #000000;
    text-align:right;
    
}

.show{
    width:100px;
}


#marvel-1{
    width:200px;
     border-radius:5px;
    text-align:center;
}

#marvel-2{
    width:200px;
    border-radius:5px;
}

.marvel-universe{
    color:white;
    font-family:Trade Gothic;
    text-align:center;
}

.avg{
    width:200px;
    
}

.avg{
    width:200px;
    border-radius:1px;
}



#Main{
    box-shadow: 0px 20px 90px #888888;
}

body{
    background-image:url("http://assets2.ignimgs.com/2013/11/13/marvel-logo-1280jpg-8851ea_1280w.jpg");
 background-repeat:no-repeat;
 background-size:1400px;
 border:solid;
}
#red{
    color:yellow;
    text-align:right;
}
#avengers{
    color:blue;
    text-align:right;
}
#aveng{
    color:green;
    text-align:right;
}
#marvel-4{
    color:purple;
    text-align:right;
}
.marvel-6{
    color:pink;
    text-align:right;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:black;
}
th, td {
    padding: 15px;
    color:red;
}
.show{
    width:1px;}
fling-minislide {width:300px; height:300px; overflow:hidden; position:relative;}
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 200px; height: 200px;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
 .man{
     width:200px;
     height:200px;
 }
 .ant{
     width:200px;
     height:200px;
 }
 #homecoming{
     width:200px;
     height:200px;
 }
 #incredible{
     width:200px;
     height:200px;
 }
 .robots{
     width:200px;
     height:200px;
 }
 #inhumans{
     width:200px;
     height:200px;
 }
 .homeland{
     width:200px;
     height:200px;
 }
 #dare{
     width:200px;
     height:200px;
 }
 .doctor{
     width:200px;
     height:200px;
 }
 #head{
     width:200px;
     height:200px;
 }
 #spider{
     color:black;
     font-size:20px;
 }
 #Gamma{
     color:green;
     font-size:20px;
 }
 #america{
     color:red;
     font-size:20px;
 }
 .rde{
     color:black;
     font-size:20px;
 }
 #man{
     color:brown;
     font-size:20px;
 }
 .metal{
     color:blue;
     font-size:20px;
 }
 #star{
     color:green;
     font-size:20px;
 }
 #titan{
     color:brown;
     font-size:20px;
 }
 #symboite{
     color:black;
     font-size:20px;
 }
 #doom{
     color:grey;
     font-size:20px;
 }
 .skull{
     color:red;
     font-size:20px;
 }
 #bighead{
     color:purple;
     font-size:20px;
 }
 .huge{
     color:purple;
     font-size:20px;
 }
 .destoryearth{
     color:grey;
     font-size:20px;
 }
 .devil{
     font-size:20px;
     color:red;
 }
 #shield{
     font-size:20px;
     color:blue;
 }
 .humans{
     font-size:20px;
     color:brown;
 }
 #JL{
 background color:#840000;
 border:#840000;
 box-shadow: 1px 10px 10px;
 }
 #JLL{
 background color:#840000;
 border:#840000;
 box-shadow: 1px 10px 10px;
 }
 #L{
 background color:#840000;
 border:#840000;
 box-shadow: 1px 10px 10px;
 }
.L{
 background color:#840000;
 border:#840000;
 box-shadow: 1px 10px 10px;
 }
 